{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link href="{{ url_for('static', filename='css/sweetalert2.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}GARDENEITOR{% endblock %}

{% block page_content %}
    <p>Start and stop every valve manually, or run the scheduled program if desired. Emergency stop closed all the valves and stop the pump. Power off button shutdowns the whole server.</p>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#tabactions">Actions</a></li>
  <li><a data-toggle="tab" href="#tabprogram">Program</a></li>
  <li><a data-toggle="tab" href="#tablog">Log</a></li>
</ul>

<div class="tab-content">

  <div id="tabactions" class="tab-pane fade in active">

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th scope="row">General </th>
            <td>
                <div class="btn-group-lg" role="group">
                    <button type="button" class="btn btn-block btn-info" id="status" onclick="status();">STATUS</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <table class="table table-bordered">
        <tbody>
        <tr>
            <th scope="row">Pump</th>
            <td>
                <div class="btn-group-lg" role="group" aria-label="Pump">
                    <button type="button" class="btn btn-success" id="on-1" onclick="setPump(true);">On</button>
                    <button type="button" class="btn btn-danger" id="off-1" onclick="setPump(false);">Off</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Valve 1</th>
            <td>
                <div class="btn-group-lg" role="group" aria-label="Valve 1">
                    <button type="button" class="btn btn-success" id="on-1" onclick="setRelay(1, true);">On</button>
                    <button type="button" class="btn btn-danger" id="off-1" onclick="setRelay(1, false);">Off</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Valve 2</th>
            <td>
                <div class="btn-group-lg" role="group" aria-label="Valve 2">
                    <button type="button" class="btn btn-success" id="on-2" onclick="setRelay(2, true);">On</button>
                    <button type="button" class="btn btn-danger" id="off-2" onclick="setRelay(2, false);">Off</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Valve 3</th>
            <td>
                <div class="btn-group-lg" role="group" aria-label="Valve 3">
                    <button type="button" class="btn btn-success" id="on-3" onclick="setRelay(3, true);">On</button>
                    <button type="button" class="btn btn-danger" id="off-3" onclick="setRelay(3, false);">Off</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Valve 4</th>
            <td>
                <div class="btn-group-lg" role="group" aria-label="Valve 4">
                    <button type="button" class="btn btn-success" id="on-4" onclick="setRelay(4, true);">On</button>
                    <button type="button" class="btn btn-danger" id="off-4" onclick="setRelay(4, false);">Off</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <tbody>
      <tr>
            <th scope="row">Emergency</th>
            <td>
                <div class="btn-group-lg btn-group-justified" role="group">                
                 <div class="btn-group" role="group">

                    <button type="button" class="btn btn-warning" id="stop-all" onclick="stop-all();">STOP ALL</button>
                  </div>
                 <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" id="power-off" onclick="power-off();">POWER OFF</button>
                  </div>
                </div>
            </td>
        </tr>
 
        </tbody>
    </table>

  </div>

  <div id="tabprogram" class="tab-pane fade">
  <form id=programForm>
    <table class="table table-bordered">
        <tbody>
         <tr>
            <th scope="row">Actions</th>
            <td>
                <div class="btn-group-lg" role="group">
                    <button type="button" class="btn btn-success" id="btProgramEnable" onclick="programSwitch(true);">Enable</button>
                    <button type="button" class="btn btn-danger" id="btProgramDisable" onclick="programSwitch(false);">Disable</button>
                    <button type="button" class="btn btn-info" id="btProgramRun" onclick="programRun();">Run Now</button>
                    <button type="button" class="btn btn-info" id="btProgramSave" onclick="programSave();">Save Changes</button>
                </div>
            </td>
        </tr>

         <tr>
            <th scope="row">Schedule</th>
            <td>
                <label class="checkbox-inline"><input name='MON' id="cb_mon" type="checkbox" value="0">Mon</label>
                <label class="checkbox-inline"><input name='TUE' id="cb_tue" type="checkbox" value="0">Tue</label>
                <label class="checkbox-inline"><input name='WED' id="cb_wed" type="checkbox" value="0">Wed</label> 
                <label class="checkbox-inline"><input name='THU' id="cb_thu" type="checkbox" value="0">Thu</label>
                <label class="checkbox-inline"><input name='FRI' id="cb_fri" type="checkbox" value="0">Fri</label>
                <label class="checkbox-inline"><input name='SAT' id="cb_sat" type="checkbox" value="0">Sat</label> 
                <label class="checkbox-inline"><input name='SUN' id="cb_sun" type="checkbox" value="0">Sun</label> 
<label class="checkbox-inline">Time:
                <input id="hhmm" type="time" name="scheduleTime" placeholder="hr:min" class="inputs time" required></label>
            </td>
         </tr>

         <tr>
            <th scope="row">Program</th>
            <td>

             <div class="form-group">
              <label for="comment">One line per valve, in this format: valve minutes</label>
              <textarea id="program" name="program" class="form-control" rows="5" id="comment"></textarea>
            </div> 
            </td>

        </tr>
        </tbody>
    </table>
    </form>
</div>



  <div id="tablog" class="tab-pane fade">
  <h1>Log</h1>
  <div id="logbox" class="pre-scrollable">Log goes here</div>  

</div>
</div>

{% endblock %}
